/* styles.css */

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Montserrat';
	src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
	font-display: swap;
}

/* Variables CSS */
:root {
	--black: #000000;
	--white: #fdfdfd;
	--gris: #cccccc;
	--primario: #f27405;
	--secundario: #f4ad72;
	--terciario: #f2d905;
}

/* Estilos generales del body */
body {
	background-color: var(--white);
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Estilos de encabezados */
h1 {
	font-size: 3rem;
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	margin: 0.5em 0;
}

h2 {
	font-size: 2.5rem;
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
}

h4 {
	font-size: 1.2rem;
	font-weight: 300;
}

h5 {
	font-size: 1rem;
	font-weight: 300;
}

/* Estilos de párrafos */
ul {
	margin-left: 20px;
}
li {
	font-weight: 300;
	text-align: left;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

.section {
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 250px;
	margin-bottom: 20px;
}

/* Animaciones */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* Estilos del Footer */
.footer {
	text-align: center;
	padding: 20px;
}

/* Estilos del Navbar */
.navbar {
	background-color: var(--white);
	color: var(--black);
	cursor: pointer;
	position: fixed;
	justify-content: space-between; /* Distribuye el título y los enlaces */
	align-items: center;
	display: flex;
	/* padding: 15px 0; */
	width: 100%;
	z-index: 1000; /* Asegura que esté encima de otros elementos */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos la sombra aquí */
}

.navbar-display-inline-items {
	display: inline-flex;
	width: 100%; /* Aseguramos que ocupe todo el ancho disponible*/
	justify-content: space-between; /* Distribuye el contenido interno */
	align-items: center;
	padding: 0 7%; /* Agregamos padding horizontal */
}

.navbarH1 {
	font-size: 1.8rem;
	color: var(--black);
	text-decoration: none;
}
.navbarH1:hover {
	color: var(--primario);
	transition: color 0.3s ease-in-out;
}

.menu-toggle {
	display: none;
	background: none;
	border: none;
	font-size: 2rem;
	color: var(--white);
	cursor: pointer;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}
.nav-links a {
	text-decoration: none;
	color: var(--black);
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
	color: var(--secundario);
}

.background-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.background-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: opacity 2s ease;
}

.background-color-b {
	background-color: var(--primario);
}
.font-color-b {
	color: var(--white);
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	max-width: 600px;
}

.contact-form input,
.contact-form textarea {
	padding: 10px;
	border: 1px solid var(--secundario);
	border-radius: 5px;
	font-size: 1rem;
	font-family: 'Montserrat', serif;
}

.contact-form button:hover {
	transform: scale(1.05);
}

/* Animaciones */
.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}
.fade-in-delay {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
	animation-delay: 0.5s;
}
.slide-in {
	opacity: 0;
}

/* styles.css */

/*... otros estilos... */
.cta-button,
.cta-button-whatsapp {
	/* Estilos básicos de botón */
	display: block;
	width: 100%;
	max-width: 600px;
	padding: 15px 0px;
	font-size: 1.2rem;

	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	margin: 10px 0;

	/* Transiciones */
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.cta-button-a {
	/* Colores */
	color: white;
	background-color: var(--primario);
}
.cta-button-a:hover {
	background-color: var(--secundario);
	transform: scale(1.05);
}

.cta-button-b {
	/* Colores */
	color: var(--primario);
	background-color: var(--white);
}

.cta-button-b:hover {
	background-color: var(--secundario);
	color: var(--white);
	transform: scale(1.05);
}

.fas {
	padding-top: 10px;
}

.home-section {
	margin-top: 75.17px;
	display: flex;
	padding: 80px 0;
	align-items: center; /* Centra verticalmente */

	/* width: 70%; */
	/* padding-left: 15%; */
}

.home-content-container {
	padding-left: 15%;
	padding-right: 50%;
	flex: 1; /* Toma la mayor parte del espacio disponible */
	text-align: left; /* Alinea el texto a la derecha */
}

.home-image-container {
	flex: 1; /* Toma la mayor parte del espacio disponible */
	/* Estilos para la imagen (opcional) */
	/* Por ejemplo: */
	/* background-image: url('tu-imagen.webp'); */
	/* background-size: cover; */
	/* background-position: center; */
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-size: cover;
	background-position: center;

	transition: opacity 2s ease; /* Aumenta la duración y cambia la función de temporización */
}

.content {
	position: relative; /* Asegura que el contenido esté encima de los fondos */
	z-index: 1;
	display: flex;
	/* flex-direction: column; */
	/* align-items: center; */
	justify-content: center;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-out {
	animation: fadeOut 1s ease-in-out forwards;
}

.fade-out-quick {
	animation: fadeOut 0.5s ease-in-out forwards;
}

.ticket-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	height: 90wh;
	font-size: 1.2rem;
	color: var(--esmeralda-secundario); /* Ajusta el color según tus necesidades */
}

/* src/index.css (o donde tengas tus estilos) */
.about-content {
	display: flex;
	align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.about-image {
	width: 350px;

	border-radius: 8px; /* Opcional: bordes redondeados */
}

.about-text {
	flex: 1; /* Permite que el texto ocupe el espacio restante */
	text-align: left;
	padding: 10px 35px;
}

/* ... (resto de tu CSS) ... */

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;
}

.service-item {
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 15px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	text-align: center; /* Centra el texto dentro de las tarjetas */
}

/* .service-item:hover {
	transform: translateY(-10px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
} */

/* .service-item:hover i,
.service-item:hover h3 {
	color: var(--primario);
	transition: color 0.7s;
} */

.service-item i,
.service-item h3 {
	color: var(--black);
	transition: color 1.7s;
}

.navbar.fixed.navbar-transition {
	top: 0px; /* Ajusta este valor */
}

.mision-vision-container {
	display: flex; /* 1. Utiliza Flexbox para el diseño de columnas */
	flex-wrap: wrap; /* 2. Permite que las columnas se envuelvan a pantallas más pequeñas */
	justify-content: center; /* 3. Centra las columnas horizontalmente */
	gap: 20px; /* 4. Agrega espacio entre las columnas */
	padding: 20px; /* 5. Agrega relleno alrededor del contenedor */
}

/* Separador.css */

.separador {
	justify-content: center; /* Centramos horizontalmente */
	width: 100%; /* El separador ocupa todo el ancho */
	max-height: 200px;
}

.separador img {
	height: auto; /* Altura automática para mantener la proporción */
	display: block;
	width: 100%;
}

/* Opcional: Estilos para diferentes tipos de separadores */
/* Si necesitas estilos específicos para las imágenes en diferentes contextos, puedes agregarlos aquí */
.separador--con-margen-extra {
	margin: 50px auto; /* Más espacio arriba y abajo */
}

/* Ejemplo de estilo para una imagen de línea discontinua */
.separador--discontinuo img {
	/* Estilos específicos para la imagen discontinua, si es necesario */
}

.content {
	color: white; /* Ajusta el color del texto para que sea legible */
	/* align-items: center; */
}
@media (max-width: 768px) {
	h2 {
		font-size: 2.5rem;
	}

	.services-list {
		grid-template-columns: 1fr;
	}

	.service-item {
		width: 100%; /* Las tarjetas ocupan todo el ancho en móviles */
		padding: 15px 0;
	}

	/* Ajusta 768 según tus necesidades */
	.hide-mobile {
		display: none;
	}

	.cta-button,
	.cta-button-whatsapp {
		padding: 20px 0px !important;
		font-size: 1.4rem;
		max-width: 100%;
	}

	.background-container {
		/* height: 70vh; */
	}
	.background-container::before {
		background-image: url('./img/bg-expansis-pro-300x533.webp'); /* Ruta relativa a la raíz */
		opacity: 1; /* Opacidad ajustada */
	}
	.section {
		text-align: center;
		padding-left: 4%;
		padding-right: 4%;
	}

	.service-item {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		padding: 15px 0;

		/* border: 1px solid #ccc; */
		border-radius: 5px;
		width: 100%;
	}

	.home-content-container {
		text-align: center; /* Centra el texto en móviles */
		padding-right: 0; /* Elimina el padding en móviles */
		max-width: 100%; /* El contenedor ocupa todo el ancho en móviles */
		/* margin-right: 0; */
		padding: 0 10px;
	}

	.content {
		align-items: center;
	}

	.about-content {
		display: block;
	}
	.about-text {
		text-align: center;
		padding: 0;
	}

	.navbar-display-inline-items {
		/* flex-direction: column; */
		align-items: flex-start;
	}

	.menu-toggle {
		display: block;
		align-self: anchor-center;
		color: var(--black); /* Aseguramos que el color sea visible */
	}

	.nav-links {
		flex-direction: column;
		position: absolute;
		top: 105.17px; /* Ajusta según la altura del navbar en móviles */
		right: 0;
		background-color: var(--white);
		width: 100%;
		text-align: center;
		padding: 0;
		border-radius: 0 0 10px 10px;
		z-index: 1000;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.nav-links.open {
		display: block;
		max-height: 297.33px; /* Ajusta según el número de enlaces */
		/* padding: 20px 0; */
		visibility: visible;
	}

	.nav-links.close {
		display: block;
		max-height: 0;
		padding: 0;
		visibility: visible;
	}

	.nav-links li {
		padding: 15px;
	}
}
@media (min-width: 769px) {
	.background-container::before {
		background-image: url('./img/bg-expansis-pro-1920x1080.webp'); /* Ruta relativa a la raíz */
		opacity: 1;
	}
}

@media (min-width: 1920px) {
	.section {
		padding: 2% 25%;
	}

	.about-image {
		width: 400px;
		/* margin-right: 20px; */
	}

	.home-section {
		/* background-image: url('../public/img/bg-expansis-pro-300x533.webp'); */
		padding: 150px 0;
	}
}

.cta-button-whatsapp {
	background-color: #25d366;
	color: var(--black);
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button-whatsapp:hover {
	background-color: #128c7e;
	color: var(--gris);

	/* Transiciones */
}

.whatsapp-section {
	/* padding: 50px 0; */
}

/* Estilos para el FAQ */
.faq-item {
	border-bottom: 1px solid var(--gris);
	padding: 10px 0;
	text-align: left;
}

.faq-question-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.faq-icon {
	font-size: 1.2rem;
	font-weight: bold;
}

.faq-answer {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.7s ease-out, opacity 0.7s ease-out; /* Transición para max-height y opacity */
	padding-left: 20px;
	text-align: start;
	padding: 0px 55px 10px;
}

.faq-answer.open {
	max-height: 500px; /* Altura máxima para la transición de apertura */
	opacity: 1;
}

@media (max-width: 768px) {
	.faq-answer {
		padding: 0px;
	}
}

.faq-item-anchortag {
	text-decoration: underline;
	color: var(--primario);
	cursor: pointer;
}

/* Estilos para el formulario de contacto - Checkbox en línea */
.contact-input-group {
	margin-bottom: 5px; /* Espacio entre grupos de campos */
}

.contact-input-group label {
	display: block; /* Asegura que la etiqueta ocupe una línea completa */
	margin-bottom: 5px; /* Espacio entre la etiqueta y los inputs */
	margin-top: 5px; /* Espacio entre la etiqueta y los inputs */
	font-weight: bold; /* Opcional: hacer la etiqueta más visible */
	text-align: left; /* Alinea la etiqueta a la izquierda */
}

.contact-input-group > div {
	display: flex;
	flex-wrap: wrap; /* Permite que los checkboxes se envuelvan si no hay suficiente espacio */
	align-items: center; /* Alinea verticalmente los checkboxes y etiquetas */
}

.contact-input-group > div > div {
	display: flex;
	align-items: center;
	margin-right: 15px; /* Espacio entre cada checkbox y su etiqueta */
	margin-bottom: 5px; /* Espacio vertical entre filas si se envuelven */
}

.contact-input-group > div > div input[type='checkbox'] {
	margin-right: 5px; /* Espacio entre el checkbox y la etiqueta */
}

.contact-input-group > div > div label.checkbox-label {
	font-weight: normal; /* Restaura el peso de la fuente normal para la etiqueta del checkbox */
	text-align: left; /* Asegura que el texto de la etiqueta esté alineado a la izquierda */
}
