/* styles.css */

/* Importación de fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Variables CSS */
:root {
	--black: #000000;
	--white: #ffffff;
	--gris: #cccccc;
	--primario: #f27405;
	--secundario: #f29d57;
	--terciario: #f2d905;
}

/* Estilos generales del body */
body {
	background-color: #fff;
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Estilos de encabezados */
h1 {
	font-size: 2rem;
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-size: 1.5rem;
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
}

h4 {
	font-size: 1.2rem;
	font-weight: 300;
}

h5 {
	font-size: 1rem;
	font-weight: 300;
}

/* Estilos de párrafos */
ul {
	margin-left: 20px;
}
li {
	font-weight: 300;
	text-align: left;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

.section {
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 250px;
	margin-bottom: 20px;
}

/* Animaciones */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* Estilos del Footer */
.footer {
	text-align: center;
	padding: 20px;
}

/* Estilos del Navbar */
.navbar {
	background-color: var(--white);
	color: var(--black);
	cursor: pointer;
}

.navbar-padding {
	position: relative;
	justify-content: space-between;
	margin: 0 auto; /* Centra la línea horizontalmente */
	align-items: center;
	display: flex;
	padding: 15px 0;
	width: 80%; /* Ajusta el porcentaje según el ancho deseado */
}
.navbar-padding.no-border-bottom {
	border-bottom: none; /* Elimina la línea inferior */
}

.navbarH1 {
	font-size: 1.8rem;
	color: var(--black);
	text-decoration: none;
}
.navbarH1:hover {
	color: var(--primario);
	transition: color 0.3s ease-in-out;
}

.menu-toggle {
	display: none;
	background: none;
	border: none;
	font-size: 2rem;
	color: var(--white);
	cursor: pointer;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}
.nav-links a {
	text-decoration: none;
	color: var(--black);
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
	color: var(--secundario);
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	max-width: 600px;
}

.contact-form input,
.contact-form textarea {
	padding: 10px;
	border: 1px solid var(--secundario);
	border-radius: 5px;
	font-size: 1rem;
	font-family: 'Montserrat', serif;
}

.background-container {
	position: relative;
	width: 100%;
	height: 425px; /* Cambia a 100vh para ocupar toda la altura de la ventana */
	overflow: hidden;
	display: flex; /* Añade Flexbox */
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
}

.background-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; /* Cambia a 100% para cubrir todo el contenedor */
	background-image: url('./img/bg-expansis-pro-1920x1080.jpg');
	background-size: cover;
	background-position: center;
	transition: opacity 2s ease;
	opacity: 1;
}

.contact-form button:hover {
	transform: scale(1.05);
}

@media (max-width: 768px) {
	.cta-button {
		width: 80vw;
	}

	.background-container::before {
		background-image: url('./img/bg-expansis-pro-300x533.jpg');
		opacity: 40%;
	}
	.background-container {
		height: 70vh;
	}
	.section {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	.menu-toggle {
		display: block;
	}
	.nav-links {
		flex-direction: column;
		position: absolute;
		top: 105.17px; /* Define la posición 'top' una sola vez */
		right: 0;
		background-color: var(--white);
		width: 100%;
		text-align: center;
		padding: 0;
		border-radius: 0 0 10px 10px;
		z-index: 1000;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

		/* ANIMACION */
		transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out; /* Agrupa las transiciones */
		max-height: 0;
		overflow: hidden;
		visibility: hidden; /* Usa visibility: hidden en lugar de display: none */
	}
	.nav-links.open {
		display: block;
		max-height: 297.33px;
		padding: 20px 0;
		visibility: visible; /* Muestra el elemento cuando está abierto */
	}
	.nav-links.close {
		display: block;
		max-height: 0;
		padding: 0;
		visibility: visible; /* Muestra el elemento cuando está abierto */
	}

	.nav-links li {
		padding: 15px;
	}

	.service-item {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		padding: 15px 0;

		/* border: 1px solid #ccc; */
		border-radius: 5px;
		width: 100%;
	}

	.navbar {
		background-color: var(--secundario);
		color: var(--white);
	}

	.navbar-padding {
		border-bottom: none;
	}

	.navbarH1 {
		color: var(--white);
	}
}

/* Animaciones */
.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}
.fade-in-delay {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
	animation-delay: 0.5s;
}
.slide-in {
	opacity: 0;
}

/* styles.css */

/*... otros estilos... */
.cta-button {
	/* Estilos básicos de botón */
	display: block;
	padding: 15px 25px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	margin: 10px 0;
	width: 25vw;

	/* Colores */
	color: white;
	background-color: var(--primario);

	/* Transiciones */
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.cta-button:hover {
	background-color: var(--secundario);
	transform: scale(1.05);
}

.cta-button-w100 {
	width: 100%;
}

.fas {
	padding-top: 10px;
}

.home-section {
	/* background-image: url('../public/img/bg-expansis-pro-1920x1080.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: baseline;
	/* color: white; */

	/* padding-left: 15%;
	padding-right: 15%; */
}
@media (max-width: 768px) {
	.home-section {
		/* background-image: url('../public/img/bg-expansis-pro-300x533.jpg'); */
	}
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-size: cover;
	background-position: center;

	transition: opacity 2s ease; /* Aumenta la duración y cambia la función de temporización */
}

@media (max-width: 768px) {
	.content {
		align-items: center;
	}
}

@media (min-width: 769px) {
	.content {
		color: white; /* Ajusta el color del texto para que sea legible */
		/* align-items: center; */
	}
}

.content {
	position: relative; /* Asegura que el contenido esté encima de los fondos */
	z-index: 1;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}

@media (min-width: 1920px) {
	.section {
		padding: 2% 25%;
	}

	.about-image {
		width: 600px;
		/* margin-right: 20px; */
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-out {
	animation: fadeOut 1s ease-in-out forwards;
}

.fade-out-quick {
	animation: fadeOut 0.5s ease-in-out forwards;
}

.ticket-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	height: 90wh;
	font-size: 1.2rem;
	color: var(--esmeralda-secundario); /* Ajusta el color según tus necesidades */
}

/* src/index.css (o donde tengas tus estilos) */
.about-content {
	display: flex;
	align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.about-image {
	width: 300px;

	border-radius: 8px; /* Opcional: bordes redondeados */
}

.about-text {
	flex: 1; /* Permite que el texto ocupe el espacio restante */
	text-align: left;
	padding: 10px 35px;
}

@media (max-width: 768px) {
	.about-content {
		display: block;
	}
	.about-text {
		text-align: center;
		padding: 0;
	}
}

/* ... (resto de tu CSS) ... */

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;
}

.service-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	text-align: center; /* Centra el texto dentro de las tarjetas */
}

.service-item:hover {
	transform: translateY(-10px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.service-item:hover i {
	color: var(--primario);
	transition: color 0.7s;
}

.service-item:hover h3 {
	font-weight: 800;
	transition: font-weight 0.7s;
	color: var(--primario);
}

@media (max-width: 768px) {
	.services-list {
		grid-template-columns: 1fr;
	}

	.service-item {
		width: 100%; /* Las tarjetas ocupan todo el ancho en móviles */
		padding: 15px 0;
	}
}

.service-item:hover {
	transform: translateY(-10px); /* Elevar el servicio ligeramente */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Añadir sombra */
}
.service-item:hover i {
	color: var(--primario); /* Cambia el color del ícono al color primario */
	transition: color 0.7s;
}

.service-item:hover h3 {
	font-weight: 400; /* Cambia el color del ícono al color primario */
	transition: font-weight 0.7s;
}

/* ... tu CSS existente ... */

@media (max-width: 768px) {
	/* Ajusta 768 según tus necesidades */
	.hide-mobile {
		display: none;
	}
}

.navbar {
	/* ... otros estilos del Navbar ... */

	top: -80px;
	transition: top 0.3s ease-in-out;
}
.navbarScroll {
	/* ... otros estilos del Navbar ... */
	/* position: sticky; */
	top: -80px;
	transition: top 0.3s ease-in-out;
}

.navbar.fixed {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* Un valor alto para asegurar que esté encima */
	background-color: white; /* O el color de fondo deseado */
	/* ... otros estilos ... */
}

.navbar-transition {
	top: -100px; /* Ajusta este valor */
}

.navbar.fixed.navbar-transition {
	top: 0px; /* Ajusta este valor */
}

.hidden {
}
.mision-vision-container {
	display: flex; /* 1. Utiliza Flexbox para el diseño de columnas */
	flex-wrap: wrap; /* 2. Permite que las columnas se envuelvan a pantallas más pequeñas */
	justify-content: center; /* 3. Centra las columnas horizontalmente */
	gap: 20px; /* 4. Agrega espacio entre las columnas */
	padding: 20px; /* 5. Agrega relleno alrededor del contenedor */
}

/* Separador.css */

.separador {
	justify-content: center; /* Centramos horizontalmente */
	width: 100%; /* El separador ocupa todo el ancho */
	max-height: 200px;
}

.separador img {
	height: auto; /* Altura automática para mantener la proporción */
	display: block;
	width: 100%;
}

/* Opcional: Estilos para diferentes tipos de separadores */
/* Si necesitas estilos específicos para las imágenes en diferentes contextos, puedes agregarlos aquí */
.separador--con-margen-extra {
	margin: 50px auto; /* Más espacio arriba y abajo */
}

/* Ejemplo de estilo para una imagen de línea discontinua */
.separador--discontinuo img {
	/* Estilos específicos para la imagen discontinua, si es necesario */
}
