/* src/index.css */

/* 1. Directivas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Importación de fuentes globales */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

/* 3. Estilos base para el body */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300; /* Establece el peso de fuente base a ligero */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 4. Estilos base para los títulos (NUEVO) */
@layer base {
	h1,
	h2 {
		@apply text-2xl sm:text-3xl font-bold text-gray-900 mb-4;
	}
}

/* ... (tu código existente) ... */

/* --- AÑADIR AL FINAL DEL ARCHIVO --- */
/* Ocultar la barra de scroll en el carrusel */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
